---
import Layout from '../../layouts/Layout.astro';
const title = "Blog | Rohan Reddy Alleti";
---

<Layout title={title}>
  	<main class="flex flex-col gap-10 justify-center items-center mt-40">
		<h1 class="text-2xl font-bold">Blog page coming soon !</h1>
		<svg class="animate-spin-slow h-10 w-10 box-animation" viewBox="0 0 24 24">
		  </svg>
	</main>
</Layout>
