<header class="py-10">
    <nav class="w-2/3 mx-auto flex justify-between items-center">
        <div class="flex justify-center items-center">
            <a href="/" class="font-bold text-xl">Rohan</a>
        </div>
        <div class="flex justify-center items-center gap-5">
            <!-- <a href="/about">About</a> -->
            <!-- <a href="/projects">Projects</a> -->
            <a href="/blog">Blog</a>
            <a target="_blank" href="https://drive.google.com/file/d/1ykOP7PglzhYQQqCvZMDianUsVC2frAaW/view?usp=sharing">Resume</a>
            <a href="/contact" class="text-white px-4 py-2 rounded-full bg-primary">Contact</a>
        </div>
    </nav>
</header>
